@model TPproject.Models.Waybill

@{
    ViewBag.Title = "DeleteWaybill";
}


    <div>
        <h3>Вы уверены, что хотите удалить этот путевой лист?</h3>
        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" />
            </div>
        }
    </div>
